/* ==================================================== */

radio-list-img {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

radio-list-img li {
  margin: 20px 0;
}

radio-list-img p {
  margin-top: 10px;
  text-align: center;
  position: relative;
}

radio-list-img p::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -25px;
  width: 20px;
  height: 20px;
  background-color: #ff4242;
  transform: translate(-50%, -5%);
  border-radius: 50%;
}

radio-list-img p::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translate(-75%, -20%);
}

radio-list-img input {
  display: none;
}

._icon-check::after {
  content: "\e901";
  color: #fff;
}

radio-list-img :checked + ._icon-check::after {
  color: black;
}

/* ==================================================================== */

radio-list {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
radio-list li {
  width: 40%;
  background-color: #848080;
  height: 40px;
}
radio-list label {
  display: flex;
  position: relative;
  height: 100%;
}

radio-list input {
  display: none;
}

radio-list i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(15%, -50%);
}
radio-list i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 22px;
  height: 22px;
  background-color: #fdfbfb;
  border-radius: 50%;
  transform: translateY(-50%);
}

radio-list p {
  padding-left: 50px;
  display: flex;
  align-items: center;
}

._icon-check::after {
  content: "\e901";
  color: #fdafaf;
}

radio-list :checked + ._icon-check::after {
  color: #0010c4;
}