radio-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

radio-list li {
  width: 45%;
  height: 40px;
  background-color: lightgray;
}

radio-list label {
 display: block;
height: 100%;
}

radio-list input {
  display: none;
}

radio-list p {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

radio-list p::before,
radio-list p::after {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

radio-list p::before {
  width: 20px;
  height: 20px;
  background-color: #ff4242;
}
radio-list p::after {
  width: 10px;
  height: 10px;
  transform: translate(21%, -66%);
}

._icon-check::after {
  content: "\e901";
  color: #fff;
}



radio-list :checked + ._icon-check::after {
 color: black;
}

/* ==================================================== */

radio-list-img {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

radio-list-img li {
  margin: 20px 0;
}

radio-list-img p {
  margin-top: 10px;
  text-align: center;
  position: relative;
}

radio-list-img p::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -25px;
  width: 20px;
  height: 20px;
  background-color: #ff4242;
  transform: translate(-50%, -5%);
  border-radius: 50%;
}

radio-list-img p::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translate(-75%, -20%);
}

radio-list-img input {
  display: none;
}

._icon-check::after {
  content: "\e901";
  color: #fff;
}

radio-list-img :checked + ._icon-check::after {
  color: black;
}
